html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);

	color: var(--text-color);
	font-family: var(--font-main);
}
.line {
	text-decoration: underline;
	cursor: pointer;
}

.none {
	display: none !important;
}

.wrapper {
	width: 90vw;
	margin: 0 auto;
}

main {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
strong {
	font-weight: 500;
}

.croshki {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 0;
	padding: 0;

	hr {
		border: none;
		width: 5px;
		height: 5px;
		border-radius: 10px;
		background-color: #000;
		margin: 0;
	}
	a {
		color: #000000;
		font-size: 14px;
	}
}

hr {
	border: none;
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #f1f1f1;
}

.benefit {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	margin: 20px 0;

	> li {
		display: flex;
		align-items: flex-start;
		gap: 10px;

		> div {
			display: flex;
			flex-direction: column;
			gap: 5px;
			width: 80%;

			strong {
				font-size: 18px;
			}
			p {
				margin: 0;
				padding: 0;
				font-size: 13px;
				color: #5e5e5e;
			}
		}
	}
}

.blog-item-list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	width: 78%;

	.blog-item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 30%;
		cursor: pointer;
		span {
			color: #5e5e5e;
		}

		&:hover {
			.blog-item__description {
				color: #3fc79e;
			}
		}

		&__img {
			width: 100%;
			background-color: rgb(233, 233, 233);
			background-image: url(../../img/complect2.webp);
			background-size: cover;
			background-repeat: no-repeat;
			height: 200px;
			border-radius: 10px;
		}

		.popular-blog-item__img {
			width: 100%;
			background-color: rgb(233, 233, 233);
			height: 150px;
			border-radius: 10px;
			position: relative;
		}

		&__description {
			color: #333333;
			font-weight: 500;
			font-size: 18px;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			&__description {
				color: #1bff26;
			}
		}
	}
}

.more-interesting {
	display: flex;
	flex-direction: column;
	gap: 20px;
	.blog-item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;
		cursor: pointer;
		span {
			color: #5e5e5e;
		}

		&:hover {
			.blog-item__description {
				color: #3fc79e;
			}
		}

		&__img {
			width: 100%;
			background-color: rgb(233, 233, 233);
			background-image: url(../../img/complect2.webp);
			background-size: cover;
			background-repeat: no-repeat;
			height: 150px;
			border-radius: 10px;
		}

		.popular-blog-item__img {
			width: 100%;
			background-color: rgb(233, 233, 233);
			height: 150px;
			border-radius: 10px;
			position: relative;
		}

		&__description {
			color: #333333;
			font-weight: 500;
			font-size: 18px;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			&__description {
				color: #1bff26;
			}
		}
	}
}

.products-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 25%;

	&__img {
		width: 100%;
		background-color: rgb(233, 233, 233);
		height: 250px;
		border-radius: 10px;

		background-image: url(../../img/lw4z12hgx9n4hijkx0zl2c37rhwlyx7o.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.popular-products-item__img {
		width: 100%;
		background-color: rgb(233, 233, 233);
		background-image: url(../../img/i.webp);
		background-size: cover;
		background-repeat: no-repeat;
		height: 150px;
		border-radius: 10px;
		position: relative;

		> span {
			position: absolute;
			left: -10px;
			top: -10px;

			background-color: #ffd256;
			border-radius: 50%;
			padding: 10px;

			font-size: 13px;
			font-weight: 500;
		}
	}

	&__description {
		color: #333333;
		font-weight: 400;
		font-size: 15px;
	}

	&__price {
		font-size: 25px;
		font-weight: 500;

		display: flex;
		align-items: center;
		justify-content: space-between;

		> div {
			display: flex;
			align-items: center;
			gap: 10px;

			button {
				svg {
					path {
						stroke: #b8b8b8;
						transition: all 0.3s ease-in-out;
					}
				}
			}

			button:nth-child(1) {
				transition: all 0.3s ease-in-out;

				&:hover {
					path {
						stroke: #ff006a;
					}
				}
			}
			button:nth-child(2) {
				&:hover {
					path {
						stroke: #000;
					}
				}
				svg {
					path {
						stroke: #b8b8b8;
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		gap: 20px;

		button:nth-child(1) {
			padding: 12px 15px;
			border: 1px solid #b8b8b8;
			border-radius: 10px;
			transition: all 0.3s ease-in-out;

			&:hover {
				border: 1px solid transparent;
				background-color: #ff006a;
				color: #fff;
			}
		}
		button:nth-child(2) {
			&:hover {
				path {
					stroke: #000;
				}
			}
			svg {
				path {
					stroke: #b8b8b8;
					transition: all 0.3s ease-in-out;
				}
			}
		}
	}
}
