.advantages {
	padding: 20px 0;

	border-bottom: 1px solid #f1f1f1;
	&__title {
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 80%;
	}

	&__img {
		width: 70px;
		height: 70px;
		background-color: rgb(233, 233, 233);
		border-radius: 50%;
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;

		li {
			display: flex;
			align-items: flex-start;
			gap: 10px;
			width: 30%;

			h3 {
				font-size: 25px;
				font-weight: 500;
				margin: 0;
			}

			p {
				margin: 0;
				font-size: 15px;
				color: #494949;
				line-height: 23px;
			}
		}
	}
}
