.news {
	display: flex;
	flex-direction: column;
	gap: 10px;
	h2 {
		font-size: 30px;
		font-weight: 600;
		margin: 0;
	}
	.news-category {
		display: flex;
		align-items: center;
		gap: 5px;
		flex-wrap: wrap;

		> li {
			padding: 10px;
			border: 1px solid #e6e6e6;
			border-radius: 10px;
			transition: all 0.3s ease-in-out;
			a {
				color: #555555;
				transition: all 0.3s ease-in-out;

				font-weight: 500;
			}

			&:hover {
				border: 1px solid transparent;
				-webkit-box-shadow: 0px 9px 57px 8px rgba(34, 34, 34, 0.2);
				-moz-box-shadow: 0px 9px 57px 8px rgba(34, 34, 34, 0.2);
				box-shadow: 0px 10px 20px 8px rgba(34, 34, 34, 0.048);
				a {
					color: #ff0095;
				}
			}
		}
	}
}

.newsCard {
	display: flex;
	align-items: flex-start;
	gap: 40px;
	justify-content: space-between;

	> div {
		width: 20%;
		display: flex;
		flex-direction: column;
		gap: 15px;
		> span {
			font-size: 13px;
			font-weight: 500;
			color: #5e5e5e;
		}
		h2 {
			font-size: 20px;
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	.article {
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 60%;

		h1 {
			font-size: 35px;
			font-weight: 600;
		}
		h2 {
			font-size: 22px;
			font-weight: 500;
		}
		p {
			margin: 0;
			line-height: 25px;
		}

		.article-img {
			width: 100%;
			height: 400px;
			background-color: #f1f1f1;
			border-radius: 12px;
		}

		table {
			width: 100%;
			background-color: #f1f1f1;

			th {
				padding: 20px;
				text-align: left;
			}

			tr {
				border: none;
			}

			td {
				background-color: #fff;
				padding: 20px;
				border-bottom: 1px solid #f1f1f1;
			}
		}

		ul.circle {
			display: flex;
			flex-direction: column;
			gap: 15px;
			margin: 0;
			padding-left: 15px;
			list-style-type: circle;

			> li {
				list-style: circle;
				padding-left: 5px;
			}
			> li::marker {
				color: rgb(21, 255, 0);
				font-size: 22px;
			}
		}
		ul.decimal {
			display: flex;
			flex-direction: column;
			gap: 15px;
			margin: 0;
			padding-left: 10px;
			list-style-type: decimal;

			> li {
				list-style: decimal;
				padding-left: 10px;
			}
			> li::marker {
				color: rgb(0, 0, 0);
				font-size: 15px;
			}
		}
	}
}

.mailing {
	background-color: #f8f8f8;
	border-radius: 10px;

	.mailing-content {
		padding: 25px;
		display: flex;
		flex-direction: column;
		gap: 15px;

		strong {
			text-align: center;
			font-size: 20px;
			color: #0c0c0c;
		}

		button {
			padding: 12px 10px;
			width: 100%;
			text-align: center;
			color: rgb(11 201 67);
			border: 1px solid #dadada;
			border-radius: 10px;
		}
		button:last-child {
			color: rgb(255, 255, 255);
			background-color: rgb(11 201 67);
			border: 1px solid transparent;
		}
	}
}

.tell-friend {
	background-color: #f1f1f1;
	border-radius: 4px;

	.tell-friend-container {
		padding: 10px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.tell-friend__title {
			font-weight: 600;
		}

		.tell-friend__btn {
			display: flex;
			align-items: center;
			gap: 10px;
			button {
				width: 44px;
				height: 44px;
				border-radius: 50%;
				background-color: #1403ff;

				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					path {
						fill: #fff;
					}
				}
			}
		}
	}
}

.them-product {
	display: flex;
	flex-direction: column;
	gap: 15px;

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		border-bottom: 1px solid #f1f1f1;

		> span {
			font-size: 15px;
			font-weight: 600;
		}

		a {
			display: flex;
			align-items: center;
			gap: 5px;
			color: #000;
		}
	}

	&__body {
		display: flex;
		align-items: center;
		gap: 10px;

		.products-item {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 25%;

			&__img {
				width: 100%;
				background-color: rgb(233, 233, 233);
				height: 250px;
				border-radius: 10px;

				background-image: url(../../img/lw4z12hgx9n4hijkx0zl2c37rhwlyx7o.jpg);
				background-size: cover;
				background-repeat: no-repeat;
			}

			.popular-products-item__img {
				width: 100%;
				background-color: rgb(233, 233, 233);
				background-image: url(../../img/i.webp);
				background-size: cover;
				background-repeat: no-repeat;
				height: 100px;
				border-radius: 10px;
				position: relative;

				> span {
					position: absolute;
					left: -10px;
					top: -10px;

					background-color: #ffd256;
					border-radius: 50%;
					padding: 10px;

					font-size: 13px;
					font-weight: 500;
				}
			}

			&__description {
				color: #333333;
				font-weight: 400;
				font-size: 13px;
			}

			&__price {
				font-size: 17px;
				font-weight: 500;

				display: flex;
				align-items: center;
				justify-content: space-between;

				> div {
					display: flex;
					align-items: center;
					gap: 10px;

					button {
						svg {
							path {
								stroke: #b8b8b8;
								transition: all 0.3s ease-in-out;
							}
						}
					}

					button:nth-child(1) {
						transition: all 0.3s ease-in-out;

						&:hover {
							path {
								stroke: #ff006a;
							}
						}
					}
					button:nth-child(2) {
						&:hover {
							path {
								stroke: #000;
							}
						}
						svg {
							path {
								stroke: #b8b8b8;
								transition: all 0.3s ease-in-out;
							}
						}
					}
				}
			}

			&__btn {
				display: flex;
				align-items: center;
				gap: 20px;

				button:nth-child(1) {
					padding: 12px 15px;
					border: 1px solid #b8b8b8;
					border-radius: 10px;
					transition: all 0.3s ease-in-out;

					&:hover {
						border: 1px solid transparent;
						background-color: #ff006a;
						color: #fff;
					}
				}
				button:nth-child(2) {
					&:hover {
						path {
							stroke: #000;
						}
					}
					svg {
						path {
							stroke: #b8b8b8;
							transition: all 0.3s ease-in-out;
						}
					}
				}
			}
		}
	}
}
